<div class="container">
  <h1>Products</h1>
    <table class = "table">
      <thead>
        <tr>
          <th>Name</th>
          <th>SKU</th>
          <th>Price</th>
          <th>Cost of Goods</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr id = "product_<%= product.id %>">
          <td id = "product_<%= product.id %>_sku">
            <%= product.sku %>
          </td>
          <td>
            <%= product.name %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td>
            <%= product.cost_of_goods %>
          </td>
          <td id = "product--<%= product.id %>_updated_at">
            <%= product.updated_at.strftime('%m-%d-%Y') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
